* {
    margin: 0;
    padding: 0;
}
html, body {
    font-size: 16px;
}
/**** Container ****/
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    background: #FFF4EE;
    margin: auto;
}
/**** Awesome Box ****/
.awesome-box {
    height: 320px;
    width: 320px;
    /* margin: 50px; */
    position: relative;
    overflow: hidden;
}
.awesome-box .marquee {
    color: #E70029;
    font-size: 3.5rem;
    font-family: sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.75;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.awesome-box .top {
    top: 0;
    left: 2.4rem;
}
.awesome-box .right {
    top: 2.4rem;
    left: 0;
    transform: rotate(90deg);
}
.awesome-box .bottom {
    top: 0;
    left: -2.4rem;
    transform: rotate(180deg);
}
.awesome-box .left {
    top: -2.4rem;
    left: 0;
    transform: rotate(270deg);
}